$color-bg-0: #720000;
$color-con-0: #fff;

$color-bg-1: #fff;
$color-con-1: #720000;
/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 10px;
    background-color: $color-bg-0;
		color: $color-con-0;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 45px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $color-con-0;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $color-con-1;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $color-con-1;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            color: $color-con-1;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: ($spacing-unit - 20) 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

$tamaño-desc: 340px;

.section-site0{
	background-color: $color-bg-0;
	color: $color-con-0;
}
.section-site1{
	background-color: $color-bg-1;
	color: $color-con-1;
}
.name{
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 10px;
	#border-style: solid;
	height: 60px;
	width: 240px;
	display: inline-block;
	
}
.first-name{
 font-size: 20px;
}
.last-name{
 font-size: 40px;
 margin-top: -15px;
 padding-right: 5px;
 float: left;
}
.last-name2{
 font-size: 20px;
 padding-top: 6px;
}
.rif{
	font-size: 10px;
	margin-top: -17px;
	float: right;
}
.foto{
	border-radius: 100%;
	width:200px;
	height:200px;
	padding: 25px;
	float: left;
}

.cv{
	font-size: $base-font-size + 4;
	padding: 10px;
}
.cv-titulo{
  display: flow-root;        
}
ul{
	list-style-type: none;
}

.tarjeta{
	margin-left: 0px;
	margin-bottom: 15px;
}

.lista{
	column-count: 2;

  @include media-query($on-palm) {
	  column-count: 1;
  }

}
ul img{
	width: 20px;
	height: 20px;
	border-radius: 0%;
	color: white;
}

.item{
	font-size: $base-font-size - 1;
	display: table;
        margin-right: 5px;
}
.item-rating{
	width: 100%;
	font-size: $base-font-size - 1;
	display: flex;
	//display: inline-grid; a mobil
	margin-bottom: 5px;

  @include media-query($on-palm) {
	  display: inline-block;
	  width: 70%;
  }

}

.margen-izq{
 margin-left: 30px
}

.herramienta-nombre{
	float: left;
	width: 125px;
	text-align: right;
  margin-right: 40px;
}
.herramienta-barra{
	float: right;
	//width: 52%;
	display: inline-block;
	
}

.progress-bar{
	float: left;
}

.titulo{
	font-weight: bold;
	display: inline-block;
	width: 90%;
}

$base-cirulo-h: 15px;
$base-cirulo-radius: 15px;

.circulo-lleno-1{
	width: $base-cirulo-h;
  height: $base-cirulo-h;
  background: $color-bg-1;
  border-radius: $base-cirulo-radius;
}
.circulo-vacio-1{
	width: $base-cirulo-h;
  height: $base-cirulo-h;
  border-radius: $base-cirulo-radius;
  border: $color-bg-1 solid 2px;
  margin: 0.5px;
}
.circulo-medio-1{
	width: 50%;
  height: $base-cirulo-h;
  background: $color-bg-1;
	border-radius: $base-cirulo-h 0 0 $base-cirulo-h;
}

.circulo-lleno-0{
	width: $base-cirulo-h;
  height: $base-cirulo-h;
  background: $color-bg-0;
  border-radius: $base-cirulo-radius;
}
.circulo-vacio-0{
	width: $base-cirulo-h;
  height: $base-cirulo-h;
  border-radius: $base-cirulo-radius;
  border: $color-bg-0 solid 2px;
  margin: 0.5px;
}
.circulo-medio-0{
	width: 50%;
  height: $base-cirulo-h;
  background: $color-bg-0;
	border-radius: $base-cirulo-h 0 0 $base-cirulo-h;
}

hr{
	opacity: 0.4;
	margin-bottom: 30px
}

.centrar{
	text-align: center;
}

.rrss{
	padding: 0px 10px 0px 10px;
	display: inline-block;
	clear: left;
}

.icono{
	display: inline-block;
	margin-right: 5px;
	width: 16px;
	height:16px;
	vertical-align: top;
}
.blanco{
	> svg{
		path{
			fill: #fff;
		}
	}
}
.tinto{
	> svg{
		path{
			fill: #720000;
		}
	}
}

.observacion{
	display: table-cell;

  @include media-query($on-palm) {
	  width: 100%;
  }
}

.hab-des-ot{
	width: 49%;
	display: inline-block;
	vertical-align: top;

  @include media-query($on-palm) {
	  display: contents;
	  width: 100%;
  }
}

h2{
  text-align: center;
  padding: 10px;
}
